export default class extends HTMLElement {
<% if attributes.any? %>
  static observedAttributes = <%= attributes.map { _1.name } %>
<% end %>
  constructor() {
    super()
  }

  connectedCallback() {
    console.log("<%= file_name %>")
  }
<% attributes.each do |attribute| -%>

  get <%= attribute.name %>() {
    return this.getAttribute("<%= attribute.name %>")
  }
<% end -%>
}
